@import './_colors.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  background-color: black!important;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}

p {
  letter-spacing: 0.05rem;
  color: white;
}
blockquote {
  border-left: 4px solid white;
  padding-left: 0.5rem;
}

a {
  color: white;
  text-underline: white;
  text-underline-mode: white;
  font-weight: normal;
}

footer {
  margin-top: 4rem;
}

.copyright {
  height: 45px;
  padding-top: 10px;
  padding-left: 89px;
  color: $lightgrey;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
}

.navbar, .navbar-collapse {
  background-color: black!important;
  height: 50px;
  color: white;
}

.jumptarget::before {
  content:"";
  display:block;
  height: 55px;
  margin: -55px 0 0;
}

.pageHome {
  padding-top: 125px;
  text-align: center;
  color: white;
}

.pageAbout {
  color: white;
}

.pointDownWrapper {

}

.bg-darkgrey {
  background-color: $darkgrey;
}

.bg-black {
  background-color: black;
}

.bg-asterisk-logo {
  background: url("//cdn.weareasterisk.com/logos/svg/logo-white-min.svg") center center no-repeat;
  background-size: contain;
}

.navLogo {
  height: 100%;
  width: 50px;
  background: transparent url("//cdn.weareasterisk.com/hackathon-assets/versionalpha/logos/VA_Logo_MarkRGB.svg") center center no-repeat;
  background-size: contain;
}

.nav-item {
  height: 50px;
  text-align: center;
  background-color: black;
}

.nav-center {
  text-align: center;
  align-items: center;
}

.navbar-collapse {
  background: $darkgrey;
}

.nav-link {
  text-transform: uppercase!important;
  margin-top: 2px;
  color: white!important;
  font-weight: 600;
}

.nav-link:active {
  padding-bottom: 4px!important;
  border-bottom: 4px solid white;
}

.nav-link:hover {
  padding-bottom: 4px!important;
  border-bottom: 4px solid white;
}

.footer-logo {
  min-height: 59px;
  background: transparent url("//cdn.weareasterisk.com/logos/svg/logo-white-min.svg") center center no-repeat;
  background-size: contain;
}

.footer-text {
  font-size: .85rem;
  font-weight: lighter;
  line-height: 1.15rem;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.controller-art {
  width: 700px;
}

.va-logo {
  width: 600px;
  padding: 1rem;
}

.break-image {
  margin-top: 4rem;
  width: 150px;
  margin-bottom: 4rem;
}

.break-image-small {
  margin-top: 4rem;
  width: 50px;
  margin-bottom: 4rem;
}

.description-block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.description-item {
  margin-bottom: 0.5rem;
  letter-spacing: 0.08rem;
  font-size: 1.18rem;
}

.p-top-50 {
  padding-top: 50px;
}

.p-t-75 {
  padding-top: 75px;
}

.p-b-6 {
  padding-bottom: 6px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-r-72 {
  margin-right: 72px!important;
}

.m-b-6 {
  margin-bottom: 6px;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-t-32 {
  margin-top: 36px!important;
}

.-m-r-20 {
  margin-right: -20px;
}

.skeletonButton {
  background-color: transparent!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  border: 2px solid white!important;
  font-weight: 600!important;
}

.skeletonButton:hover {
  background-color: $orange!important;
  color: black!important;
  border: 2px solid $orange!important;
}

.w-800p {
  max-width: 800px;
}

.w-1200p {
  max-width: 1200px;
}

.w-400p {
  max-width: 400px;
}

.w-600p {
  max-width: 600px;
}

.w-250p {
  width: 250px;
}

.w-200p {
  width: 200px!important;
}

.w-200p-max {
  max-width: 200px!important;
}

.h-80p-min {
  min-height: 80px;
  height: auto;
}

.hyphenate {
  hyphens: auto;
}

.speech {
  font-size: 1.06rem;
  text-align: justify-all;
}

.margin-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.p-header {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.orange {
  color: $orange;
}

.orange:hover {
  color: darkorange;
}

.branding-orange {
  color: $brand-orange
}

/*
START FAQ STYLINGS
*/

.faq {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.faq-content {
  color:#000;
}
.faq-link {
  cursor: pointer;
  margin: 0 !important; // remove inherited margin
  padding: .5em; // add padding to help with hover shadow.
  border-radius: 8px;
  &:hover {
    background-color: #2b2828
    // FIX this color later! - and basically all of the hover affects here.
  }
}
.faq-question {
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.faq-header {
  margin: 2em
}


/*
END FAQ STYLINGS
*/
